.status {
  background-color: #01569d;
  color: white;
}
.box1 {
  background: rgba(154, 157, 1, 0.08);
  border: 1px solid #9a9d01;
  box-sizing: border-box;
  border-radius: 10px;
  color: #9a9d01;
  font-weight: 500;
  width: 170px;
  height: 80px;
}
.smallbox1 {
  display: inline;
  background: rgba(154, 157, 1, 0.15);
  border-radius: 5px;
}
.box2 {
  background: rgba(164, 5, 3, 0.08);
  border: 1px solid #a40503;
  box-sizing: border-box;
  border-radius: 10px;
  color: #a40503;
  font-weight: 500;
  width: 170px;
  height: 80px;
}
.smallbox2 {
  display: inline;
  background: rgba(164, 5, 3, 0.15);
  border-radius: 5px;
}
.box3 {
  background: rgba(218, 123, 3, 0.08);
  border: 1px solid #da7b03;
  box-sizing: border-box;
  border-radius: 10px;
  color: #da7b03;
  font-weight: 500;
  width: 170px;
  height: 80px;
}
.smallbox3 {
  display: inline;
  background: rgba(218, 123, 3, 0.15);
  border-radius: 5px;
}
.box4 {
  background: rgba(38, 166, 209, 0.08);
  border: 1px solid #26a6d1;
  box-sizing: border-box;
  border-radius: 10px;
  color: #26a6d1;
  font-weight: 500;
  width: 170px;
  height: 80px;
}
.smallbox4 {
  display: inline;
  background: rgba(38, 166, 209, 0.15);
  border-radius: 5px;
}
.resdwn {
  background: #01569d;
  box-shadow: 0px 20px 35px rgba(14, 59, 125, 0.2);
  border-radius: 10px;
}
