/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 12px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 10px;
    height: 10px;
    top: 0px;
    left: 0px;
    font-size: 10px;
  }
}
