<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" style="display: none">
      P {
        margin-top: 0;
        margin-bottom: 0;
      }
    </style>
  </head>
  <body dir="ltr">
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      Dear {{name}},
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <br />
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      Hope you are fine<span id="😊">😊.</span>
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <span><br /> </span>
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      The first phase of the Advanced Data Science Aptitude Test (A-DSAT) is
      going to be live on 6th July 2021 and 7th July 2021.
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <br />
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <span style="font-size: 16pt"
        ><b style="font-size: 16pt"
          >Your test date and time slot are as follows:</b
        ></span
      >
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <span style="font-size: 16pt"
        ><b style="font-size: 16pt">{{date}}</b></span
      >
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <span style="font-size: 16pt"
        ><b style="font-size: 16pt">{{timeSlot}}</b></span
      >
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      "
    >
      <span><br /> </span>
    </div>
    <div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        <span style="font-size: 16pt"
          ><b style="font-size: 16pt"
            >Note: You have to give the test in the given time slot
            only.&nbsp;</b
          ></span
        >
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        <br />
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        How to give the test:
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        <ol>
          <li>
            <span
              >Visit the link(The Sign In Link would be active from 6th July
              onwards.) :&nbsp;<a
                href="https://adsatiitropar.com/signin"
                id="LPlnk"
                >https://adsatiitropar.com/signin</a
              ></span
            >
          </li>
        </ol>
        <div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img
            style="max-width: 100%; width: 255px; height: 169px"
            width="255"
            height="169"
            size="58828"
            contenttype="image/png"
            data-outlook-trace="F:1|T:1"
            src="cid:t2"
          /><br />
        </div>
        <ol start="2">
          <li style="display: block">
            <div
              class="
                _Entity
                _EType_OWALinkPreview
                _EId_OWALinkPreview
                _EReadonly_1
              "
            ></div>
          </li>
          <li>
            <b>Sign in </b>using the email id or phone no. and password you used
            for registering.
          </li>
          <li>
            If you forget your password, then you can reset your password on the
            same link:&nbsp;<a
              href="https://adsatiitropar.com/signin"
              id="LPlnk"
              >https://adsatiitropar.com/signin</a
            >
          </li>

          <li style="display: block">
            &nbsp; &nbsp;&nbsp;<img
              style="max-width: 100%; width: 265px; height: 176px"
              width="265"
              height="176"
              size="58828"
              contenttype="image/png"
              data-outlook-trace="F:1|T:1"
              src="cid:t2"
            /><br />
          </li>
          <li>Click on <b>&quot;Get Started&quot;.&nbsp;</b></li>
        </ol>
        <div>
          <b
            >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img
              style="max-width: 100%; width: 366px; height: 56px"
              width="366"
              height="56"
              size="159095"
              contenttype="image/png"
              data-outlook-trace="F:1|T:1"
              src="cid:t3"
            /><br />
          </b>
        </div>
        <ol start="5">
          <li>Start attempting the test in full-screen mode.</li>
          <li>
            Once you submit the test, you will receive the mail for giving the
            test successfully.
          </li>
          <li style="display: block">
            &nbsp; &nbsp; &nbsp;<img
              style="max-width: 100%; width: 291px; height: 172px"
              width="291"
              height="172"
              size="36931"
              contenttype="image/png"
              data-outlook-trace="F:1|T:1"
              src="cid:t4"
            />&nbsp;<br />
          </li>
        </ol>
        <div><br /></div>
        <div>Test Details:</div>
        <div>Number of Questions: 25</div>
        <div>Positive Marks: +4 marks</div>
        <div>Negative Marks: -1 mark</div>
        <div>Time Limit: 30 minutes</div>
        <div>Total Marks: 100&nbsp;</div>
        <div><br /></div>
        <div>
          <b
            ><span style="font-size: 14pt"
              >If you missed your slot or have any other queries, kindly revert
              to this email (ai-course-datascience@iitrpr.ac.in</span
            ><span style="font-size: 14pt">).</span></b
          ><br />
        </div>
        <div>
          <span style=""><br /> </span>
        </div>
        <div>Please give test using laptop or desktop</div>
        <div>All the best for your exam.!</div>
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        <br />
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        Regards
      </div>
      <div
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      >
        IIT Ropar
      </div>
      <div id="Signature">
        <div></div>
      </div>
    </div>
  </body>
</html>
