<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" style="display: none">
      P {
        margin-top: 0;
        margin-bottom: 0;
      }
    </style>
  </head>
  <body dir="ltr">
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
      "
    >
      <span
        style="
          margin: 0px;
          font-size: 12pt;
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
        "
        ><img
          size="41031"
          contenttype="image/png"
          unselectable="on"
          tabindex="-1"
          style="max-width: 100%; user-select: none"
          data-outlook-trace="F:1|T:1"
          src="cid:banner"
        /><br />
      </span>
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
      "
    >
      <span
        style="
          margin: 0px;
          font-size: 12pt;
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
        "
        ><br />
      </span>
    </div>
    <div
      style="
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: rgb(0, 0, 0);
      "
    >
      <span
        style="
          margin: 0px;
          font-size: 12pt;
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
        "
        >Dear {{name}}</span
      ><span
        style="
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
          display: inline !important;
        "
      ></span>
      <div
        style="
          margin: 0px;
          font-size: 12pt;
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
        "
      >
        <br />
      </div>
      <div
        style="
          margin: 0px;
          font-size: 12pt;
          font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;
          background-color: rgb(255, 255, 255);
        "
      >
        Greetings from Indian Institute of Technology Ropar.
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          Hope you are keeping positive and testing negative 😊
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          We are glad to see that you have shown interest in the Advanced Data
          Science Aptitude test.
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          Your registration is successful for A-DSAT&nbsp;
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          The test will be conducted in 1st or 2nd week of July.
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          Link for the test will be shared by 1st week along with
          instructions.&nbsp;
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          Till then you can start preparing for the A-DSAT
        </div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">Syllabus for A-DSAT as follows-</div>
        <div style="margin: 0px"><br /></div>
        <div style="margin: 0px">
          <div style="margin: 0px">
            <ul>
              <li>Data Interpretation</li>
              <li>Business Understanding</li>
              <li>Quantitative Aptitude</li>
              <li>Integrated Reasoning</li>
              <li>Statistics and Probability</li>
            </ul>
            <div style="margin: 0px">
              Feel free to get back to us for any further assistance that you
              may require&nbsp;
            </div>
          </div>
        </div>
        <div style="margin: 0px">
          <span
            style="
              margin: 0px;
              font-family: Helvetica, sans-serif, serif, EmojiFont;
              color: rgb(32, 32, 32);
              background-color: rgb(255, 255, 255);
              display: inline !important;
            "
            ><br />
          </span>
        </div>
        <div style="margin: 0px">Kind Regards,</div>
        IIT Ropar.
      </div>
      <br />
    </div>
  </body>
</html>
